// A signature light grey that can be used throughout the site
$sig-grey: rgb(235, 235, 235);
$sig-purple: #48194f;
$sig-light-purple: rgb(221, 199, 255);
$sig-very-light-purple: rgb(238, 230, 250);
$sig-pink: #ffeded;


// Universal styles
body {
  height: 100%;
  min-height: 100%;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: $sig-purple;

}

main {
  min-height: 80vh;
  width: 90vw;
  margin: 4rem auto 0 auto;

}

// Nav Bar
nav {
  display: flex;
  background-color: $sig-purple;
  box-shadow: 0 0 7px 3px rgba(150, 150, 150, 0.2);
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 0;
  width: 100%;

  .logo {
    display: flex;
  }

  .logo-img {
    font-size: 2rem;
  }

  .logo-text {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 3px;
  }

  a {
    text-decoration: none;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
  }

  a:hover {
    background-color: $sig-light-purple;
  }

  ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 70%;
    align-items: center;

  }
}

// Home page
.hero {
  background-image: url('../images/astronaut.jpeg');
  background-size: cover;
  background-position: center;
  height: 50vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 0;
  font-size: 2rem;
  //text-shadow: 1px 5px 1px$sig-purple;
}

// Events index
.index-list {
  list-style-type: none;
  padding-left: 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  li {
    color: rgb(238, 230, 250);
    background: linear-gradient(to bottom right, white, rgb(221, 199, 255),white, rgb(238, 230, 250));
    border: 1px solid $sig-purple;
    padding: 15px;
    border-radius: 7px;
    margin-bottom: 15px;
    width: 28%;

    h3, h5, h6 {
      margin: 10px 0;
    }

    h3 {
      font-size: 1.5rem;
      color: $sig-purple;
    }

    h5 {
      font-size: 1rem;
    }

    h6 {
      font-size: 0.8rem;
    }

  }

  figure {
    width: 100%;
    margin: 0 auto;

    img {
      width: 100%;
      height: auto;
      border-radius: 7px;
      border: 2px solid black;
    }
  }

  a {
    text-decoration: none;
    color: black;
  }
}

@media only screen and (max-width: 800px) {
  .index-list li {
    width: 44%;
  }
}
@media only screen and (max-width: 600px) {
  .index-list li {
    width: 100%;
  }
}

// Events Index Mapbox
.map-container {
  margin-top: 40px;
  height: 100vh;
  width: 100%;
  img {
    height: 50px;
    width: 50px;
  }
}

// Event Show
.event-detail {

  h1 {
    text-align: center;
  }

  h5 {
    font-size: 1rem;
    text-align: center;
  }

  h6 {
    font-size: 1rem;
    text-align: center;
  }

  figure {
    width: 600px;
    margin: 0 auto;

    img {
      width: 100%;
    }
  }
  
}


// Add new event/venue
.add-form {
  label {
    font-weight: bold;
  }
}

.block-form {
  display: block;
  padding: 0.5rem 0;
  font-size: 1.1rem;
}

.side-note {
  color: $sig-light-purple;
  display: flex;
  font-size: 0.8rem;
  padding: 0.5rem;
  p {
    margin: 0;
  }
  button {
    background-color: $sig-purple;
    color: white;
    font-size: 0.7rem;
  }
}


// Footer
footer {
  position: relative;
  margin-bottom: 0;
  display: flex;
  bottom: 0;
  justify-content: center;
  width: 100%;
  height: 20%;
  align-items: flex-end;
}